# Operating System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
/vendor/
/node_modules/

# Build files
/dist/
/build/

# Composer
composer.phar
/vendor/
composer.lock

# npm
package-lock.json
npm-debug.log

# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Environment files
.env
.env.*
!.env.example 